#main {
    margin: 100px;
    margin-left: 300px;
    margin-right: 300px;
    width: 500px;
    height: 600px;
    background-color: black;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
}

* {
    border: 1px solid red;
}

#button {
    display: flex;
}

#operator {
    font-size: 29px;

    display: flex;
    flex-grow: 0;
}

#display {
    height: 200px;
    width: 500px;
    background-color: green;
    font-size: 48px;

    display: flex;
    justify-content: flex-end;
    align-items: end;
}

#input {
    height: 400px;
    width: 500px;
    background-color: blue;

    display: flex;
    flex-flow: column wrap;
    align-content: center;
}